@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Mentorient provides cloud-based property management application that allows residential property managers to market and manage their business.
    <br /><br />
    This solution includes:
    <ul>
        <li>Accounting</li>
        <li>Leasing</li>
        <li>Property management functionality</li>
    </ul>
    <br /><br />
    All property information can be stored in Mentorient, allowing users to post vacancies to various sites. 
    Users can also download an HTML vacancy posting package that they can print or manually post to Craigslist.
    <br /><br />
    Users can list vacant properties, fill out an online applications and run background checks. 
    Mentorient can automatically populate customized lease agreements, accept payments and support digital signature collection. 
    The payment platform supports e-checks, credit cards and electronic cash payments that residents can submit through an online tenant portal.
    <br /><br />
    Other capabilities include:
    
    <ul>
        <li>Vacancy and rent tracking</li>
        <li>Tenant liability insurance</li>
        <li>Rent comparison tool</li>
        <li>Automatic posting of bills</li>
        <li>Paperless work order generation</li>
        <li>Report customization</li>
        <li>Mobile iPhone access and more</li>
    </ul>
</p>
