@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet" />

<style>
#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family: 'Acme', sans-serif;

}
form {
max-width:400px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
p {
margin-top:30px
}
#formHead {
background-color:#cedcfd;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0;
font-weight : bold;
}

hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text],textarea {
width:100%;
padding:10px;
margin-top:30px;
border:2.5px solid #ccc;
color : rgb(100,100,100);
padding-left:40px;
font-size:18px;
font-weight:100;
font-family:'Acme', sans-serif;
margin-bottom : 5px;
}

input[type=text]:focus,textarea:focus {
    border-color: lightgreen;
}


#email,#name,#message {
background-image:url(http://www.aorank.com/tutorial/createpopupform_livedemo/images/email.png);
background-repeat:no-repeat;
background-position:5px 7px ;
height : 100%;
}
#name{
	background-image:url(http://www.aorank.com/tutorial/createpopupform_livedemo/images/name.jpg);
}
#message{
	background-image:url(http://www.aorank.com/tutorial/createpopupform_livedemo/images/msg.png);
}
#submit {text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color: #1f4fc0 ;
color:#fff;
border:1px solid  #1f4fc0 ;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:2px ;
margin-top : 20px;

margin-bottom : 20px;
}
#submit:hover{
	color: #1f4fc0;
	background-color: #fff;
}
span {
color:red;
font-weight:700
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Acme',sans-serif;
font-size:18px;
cursor:pointer
}
</style>



<script>
setTimeout(div_show, 3000);
function check_empty() {
if (document.getElementById('name').value == "" || document.getElementById('email').value == "" || document.getElementById('msg').value == "") {
alert("Fill All Fields !");
} else {
document.getElementById('form').submit();
alert("Form Submitted Successfully...");
}
}
//Function To Display Popup
function div_show() {
document.getElementById('abc').style.display = "block";
}
//Function to Hide Popup
function div_hide(){
document.getElementById('abc').style.display = "none";
}

function submitForm()
{
    document.getElementById('abc').style.display = "none";
    document.getElementById("form").submit();

}
</script>

<!-- Body Starts Here -->

<div id="abc">
<!-- Popup Div Starts Here -->
<div id="popupContact">
<!-- Contact Us Form -->
<form action="" id="form" method="post" name="form" target="_blank">
<img id="close" src="https://cdn0.iconfinder.com/data/icons/flat-security-icons/512/close-blue.png" height="32" width="32" onclick="div_hide()" />
<h2 id="formHead">Get in Touch</h2>
<hr />
<input id="name" name="name" placeholder="Enter Your Name" type="text" />
<input id="email" name="email" placeholder="Enter Your Email" type="text" />
<textarea id="message" name="message" placeholder="Enter Your Message"  ></textarea>
<a onclick="submitForm()"  id="submit">Send</a>
</form>
</div>
<!-- Popup Div Ends Here -->
</div>
<!-- Display Popup Button -->

<!-- Body Ends Here -->
