@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Mentorient</h1>
    <p>Free and Open Source Property Management Software to manage your real estate rental properties.</p>
    <p><a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register">Create Account</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <blockquote>
            <p>Mentorient has made it easy for my team to manage my rental properties and tenants</p>
            <small>Alex Cole <cite title="Source Title"></cite></small>
        </blockquote>
    </div>
    <div class="col-md-6">
        <blockquote class="blockquote-reverse">
            <p>Mentorient is great because it's in the cloud and I dont have to download any programs</p>
            <small>Michael Henderson<cite title="Source Title"></cite></small>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Free</h3>
            </div>
            <div class="panel-body">
                Our Team set out to solve the issue of rental management applications being too exspensive. You get free software updates and it's free, so no price gouging.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Powerful</h3>
            </div>
            <div class="panel-body">
                Mentorient is a great solution for people in the rental business to boost production and manage tenants. We offer different types of features such as tenant management, accounting, and maintenace tools.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Open Source</h3>
            </div>
            <div class="panel-body">
                Mentorient is open-source and backed by dedicated software developers. We track issues, listen to users input, continue to evolve the applicaton into an easy one to use.
            </div>
        </div>
    </div>
</div>
<footer class="home-index-footer">
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#no-downloads" data-toggle="tab">No Downloads</a></li>
                <li><a href="#profile" data-toggle="tab">Free Updates</a></li>
                <li><a href="#textArea" data-toggle="tab">Community Driven</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="no-downloads">
                    <p>Using Menotient is as easy as creating an account then logging in. Our application is ran in the cloud so you don't have to download any programs or worry about installing anything. Since Mentorient is ran in the cloud, all of the updates that are pushed to the platform happen without you having to do anything.</p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                </div>
            </div>
        </div>
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="inputEmail" class="control-label">Email</label>
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputEmail" class="control-label">Name</label>
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="textArea" class="control-label">Textarea</label>
                                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                                    <span class="help-block">Please send us a message, we would love to hear from you!</span>
                                    <button class="btn btn-info">Send</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>            
</footer>

